/*************color scheme***************/
body{
     color: #ffffff;
     background-color: #000000;
     background-image: url(../images/marble4.jpg);
     SCROLLBAR-FACE-COLOR:#000000;
     	    SCROLLBAR-ARROW-COLOR:#ffffff;
     	   SCROLLBAR-TRACK-COLOR:#333333;
	   SCROLLBAR-BASE-COLOR:#000000; 
     }
     
#maindiv{
         border-color: #666666;         
         background-color: #000000;
         background-image: url(../images/blackswirl.jpg); 
         }
         
#search{ background-color:#cccccc; }

#search:hover{ background-color: #ffffff; }

a#mylink { color: #cccccc;
}

a#mylink:hover {
	color: #ffffff;
}

#mylogo {
	border: 1px solid #cccccc;
	color: #cccccc;
}

a{ color: #cccccc;
}

a:hover {
	color: #ffffff;
}


#topmenu ul li a{color: #cccccc; }
#topmenu ul li a:hover{color: #ffffff;}

#topmenu ul li{background-color: #000000;}
#topmenu ul li:hover{background-color: #444444;}


/* left column */

#leftcol a{ color: #cccccc; }
#leftcol a:hover{ color: #ffffff;}
#leftcol div.module, #leftcol div.module_menu, #leftcol div.module_text, #leftcol div.moduletable, #leftcol div.moduletable_menu, #leftcol div.moduletable_text{ background-color: #000000; }

#leftcol li{ border-right-color: #000000; border-left-color: #000000;}
#leftcol li:hover{ border-right-color: #ffffff; border-left-color: #ffffff; background-color: #444444;}


/* right column */

#rightcol a{ color: #cccccc; }
#rightcol a:hover{ color: #ffffff; }
#rightcol div.module, #rightcol div.module_menu, #rightcol div.module_text, #rightcol div.moduletable, #rightcol div.moduletable_menu, #rightcol div.moduletable_text{ background-color: #000000; }

#rightcol li{ border-right-color: #000000; border-left-color: #000000;}
#rightcol li:hover{ border-right-color: #ffffff; border-left-color: #ffffff; background-color: #444444;}


/*submenu*/
#leftcol li ul li:hover, #rightcol li ul li:hover{ background-color: transparent; }


/*user1, user2, user3*/

#user1 a, #user2 a, #user3 a{ color: #cccccc; }
#user1 a:hover, #user2 a:hover, #user3 a:hover{ color: #cccccc; }

/*main content*/

#content a{ color: #cccccc; }
#content a:hover{ color: #ffffff; }
#content{ border-color: #ffffff; }

 #content table.contenttoc td, #content table.contenttoc td a{}
 #content table.contenttoc td:hover{background-color: #ffffff; }
 #content table.contenttoc a:hover{color: #000000; background-color:#ffffff; }

 #content legend{ color:#ffffff; }	


/*pathway*/

#pathway a{ color: #cccccc; }
#pathway a:hover{ color: #ffffff; }


#footer a{ color: #cccccc; }
#footer a:hover{ color: #ffffff; }

input{ background-color: #fefeff; background-image: url(../images/gradient3.jpg); }
input:hover{ background-color: #ffffff; background-image: none; }


td.sectiontableentry1 input, td.sectiontableentry2 input{ background-color: transparent; background-image: none; }

div.tool-tip{ background-color:#000000; border-width:1px; border-style:solid;}
td.mceToolbarTop, span.mceToolbarContainer{  background-color:#ffffff; }